$Montserrat: "Montserrat", sans-serif

.lastTabWrapper
  position: absolute
  top: 15%
  left: 40%
  width: 35rem
  height: 47rem
  background: rgba(19, 28, 51, 0.98)
  padding: 3rem 2rem
  border-radius: .625rem
  overflow: auto
  transition: all 0.5s

  &.hidden
    transition: all 0.6s
    transform: translate(-200%, 200%) 

  .lastTabContainer
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 1rem
  
    .title
      font-family: $Montserrat
      font-size: 2.2rem
      font-weight: 700
      text-transform: uppercase

  .nav-wrapper.select
    transition: all 0.3s
    background: rgba(58, 113, 255, 0.98)
    
  .nav-wrapper
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center
    box-sizing: border-box
    padding: 5rem 1rem
    flex-direction: column
    gap: 1.2rem
    background: rgba(19, 28, 51, 0.98)
    border-radius: 0.6rem
    width: 25rem
    height: 12rem

    img
      opacity: 0.9
      width: 3rem

    .text-block
      position: relative
      display: flex
      flex-direction: column
      gap: 1.3rem


      .description
        font-family: $Montserrat
        font-size: 0.9rem
        font-weight: 500
        line-height: 141%
        color: rgba(255, 255, 255, 0.7)
        width: 20rem

  .btn-create-char
    cursor: pointer
    outline: none
    border: none
    height: 3.5rem
    background: #3a71ff
    border-radius: 0.4rem
    font-family: $Montserrat
    font-weight: 600
    font-size: 0.7rem
    margin-top: 1.2rem
    margin-left: 30%
    padding: 0 2rem
    text-transform: uppercase
    color: #fff
    transition: all 0.3s

    &:hover
      transition: all 0.3s
      box-shadow: 0 0 1.7vw 0.637vw rgba(58, 113, 255, 0.50)