$Montserrat: "Montserrat", sans-serif

.nameCharacterwrapper
  position: absolute
  top: 15%
  left: 40%
  width: 35rem
  height: 45rem
  background: rgba(19, 28, 51, 0.98)
  padding: 2rem 2rem
  border-radius: .625rem
  overflow: auto
  transition: all 0.6s

  &.hidden
    transition: all 0.6s
    transform: translate(-200%, 200%) 
    

  .title_box
    padding-left: 25%
    padding-bottom: 1rem
    font-family: $Montserrat
    font-size: 1.2rem
    font-weight: 700
    text-transform: uppercase

  &::-webkit-scrollbar
    width: 5px
  &::-webkit-scrollbar-track
    opacity: 0
  &::-webkit-scrollbar-thumb
    background-color: #cdcdcd2a
    border-radius: 100px 

  .nameCharacterContainer
    display: flex
    position: relative
    gap: 1rem
    flex-direction: column
    flex-wrap: wrap
    align-items: stretch

    .national_container
      display: flex
      justify-content: center
      flex-direction: column
      align-items: flex-start
      gap: 0.4rem

      .title
        font-family: $Montserrat
        font-weight: 600
        font-size: 0.83rem
        color: #ffff
        background: #ffffff16
        text-transform: uppercase
        padding: 0.2rem 0.5rem
        border-radius: 0.3rem
        float: right  

      .national
        width: 90%
        padding: 0.2rem 0.9rem 
        text-transform: uppercase
        span
          cursor: pointer
          float: right

          img
            width: 1.5rem
            height: 1.5rem
            padding: 0  

          .arrow
            transition: all 0.3s
            transform: rotate(-360deg)  
          .arrow.active
            transition: all 0.3s
            transform: rotate(-180deg)
      .nationalChoise
        
        display: none
        max-height: 5rem
        overflow: auto 

        &.show
          display: flex
          text-transform: uppercase
          color: #ffff
          font-family: $Montserrat
          flex-wrap: wrap
          flex-direction: row
          justify-content: flex-start
          align-content: flex-start
          gap: 0.3rem
          cursor: pointer

          &::-webkit-scrollbar
            width: 5px
          &::-webkit-scrollbar-track
            opacity: 0
          &::-webkit-scrollbar-thumb
            background-color: #cdcdcd2a
            border-radius: 100px  
        .nationality
          &:hover
            background-color: #cdcdcd5a
        
  .btn-create-char
    cursor: pointer
    outline: none
    border: none
    height: 3.5rem
    background: #3a71ff
    border-radius: 0.4rem
    font-family: $Montserrat
    font-weight: 600
    font-size: 0.7rem
    margin-top: 1rem
    padding: 0 5rem
    text-transform: uppercase
    color: #fff
    transition: all 0.3s

    &:hover
      transition: all 0.3s
      box-shadow: 0 0 1.7vw 0.637vw rgba(58, 113, 255, 0.50)
