.right-container
  overflow: auto
  box-sizing: border-box
  padding: 1rem 1rem
  width: 21.25rem
  height: 100%
  background: rgba(19, 28, 51, 0.98)
  border-radius: .625rem

  &::-webkit-scrollbar
    width: 5px

  &::-webkit-scrollbar-track
    opacity: 0

  &::-webkit-scrollbar-thumb
    background-color: #cdcdcd2a
    border-radius: 100px

    &:hover
      background-color: #cdcdcd5a