body
  width: 100%
  height: 100%

.hud
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 97%
  height: 95%
  animation: fadeInHud 1.5s ease

  .effects
    .e-right-content
      opacity: 0.9
      filter: blur(13vw)
      position: absolute
      right: -20vw
      top: -18vw
      width: 50vw

  .content-inside
    height: 100%

    .right-content
      display: flex
      align-items: flex-end
      justify-content: space-between
      flex-direction: column
      height: 100%


@keyframes fadeInHud
  from
    opacity: 0
  to
    opacity: 1