.minimap-section
  display: flex
  flex-direction: row
  align-items: flex-end
  position: absolute
  left: 0
  bottom: 0
  color: red

  .minimap-block
    display: flex
    flex-direction: column

    .needs

    .minimap
      backdrop-filter: blur(4.249vw)
      background: rgba(38, 46, 65, 0.2)
      border: 1px solid rgba(255, 255, 255, 0.1)
      border-radius: 0.6vw
      width: 19vw
      height: 13vw