$Montserrat: "Montserrat", sans-serif

.server-section
  display: flex
  flex-direction: column
  align-items: flex-end
  user-select: none
  gap: 1.2vw
  position: relative
  right: 0

  .server-info
    display: flex
    flex-direction: row
    align-items: center
    gap: 1.5vw

    .statistics
      display: flex
      flex-direction: row
      gap: 0.7vw
      height: 2vw

      .block-stat
        display: flex
        flex-direction: row
        align-items: center
        gap: 0.3vw
        height: 100%

        &:nth-child(2)
          .icon
            img
              width: 0.8vw

        .icon
          display: flex
          align-items: center
          justify-content: center
          height: 100%
          width: 2vw
          background: rgba(20, 22, 20, 0.9)
          border: 0.035vw solid rgba(255, 255, 255, 0.18)
          border-radius: 0.567vw

          img
            width: 1vw
            height: 1vw

        .text
          display: flex
          align-items: center
          justify-content: center
          height: 100%
          padding: 0 1vw
          background: rgba(20, 22, 20, 0.9)
          border: 0.03vw solid rgba(255, 255, 255, 0.1)
          border-radius: 0.5vw
          font-family: $Montserrat
          font-weight: 600
          font-size: 0.9vw
          text-transform: uppercase

    .logotype-project
      width: 6vw


  .quests
    display: flex
    flex-direction: column
    overflow: hidden
    gap: 0.3vw
    width: 17vw
    box-sizing: border-box
    padding: 0.6vw 1vw
    background: rgba(20, 22, 20, 0.9)
    border-right: 0.4vw solid #1372ff
    border-radius: 0.567vw 0 0 0.567vw

    .title-quest
      font-family: $Montserrat
      font-weight: 700
      font-size: 0.9vw
      text-transform: uppercase
      color: #4f95ff
      text-shadow: 0 0 27px rgba(79, 149, 255, 0.4)

    .description-quest
      font-family: $Montserrat
      font-weight: 500
      font-size: 0.7vw
      line-height: 145%
      color: #fff


  .weapon
    display: flex
    flex-direction: row
    justify-content: flex-end
    overflow: hidden
    gap: 1vw
    box-sizing: border-box
    padding: 1vw 1.5vw
    background: rgba(20, 22, 20, 0.9)
    border-right: 0.4vw solid #1372ff
    border-radius: 0.567vw 0 0 0.567vw

    .ammo-block
      display: flex
      flex-direction: column
      align-items: flex-end
      gap: 0.15vw

      .clip-ammo
        font-family: $Montserrat
        font-weight: 600
        font-size: 1.3vw
        text-transform: uppercase
        color: #fff

      .all-ammo
        font-family: $Montserrat
        font-weight: 600
        font-size: 0.9vw
        text-transform: uppercase
        color: rgba(255, 255, 255, 0.6)

    
    .img-block
      display: flex
      align-items: center
      justify-content: center

      .effect
        position: absolute
        width: 3vw
        height: 2vw
        background: rgba(19, 114, 255, 0.5)
        filter: blur(2vw)
        border-radius: 3vw

      .weapon-img
        position: relative
        transform: scale(-1, 1)
        width: 5vw