.case-block {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 0.6vw;
  width: 22.5vw;
  height: 13vw;
}
.case-block .content-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1.2vw 1.2vw;
  width: 100%;
  height: 100%;
}
.case-block .content-inside .case-img {
  position: absolute;
  right: -2.1vw;
  bottom: -1.5vw;
  width: 15vw;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.case-block .content-inside .header-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 2;
}
.case-block .content-inside .header-title .name-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.case-block .content-inside .header-title .name-block .top-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.15vw;
  text-transform: uppercase;
}
.case-block .content-inside .header-title .name-block .bottom-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1vw;
  text-transform: uppercase;
}
.case-block .content-inside .header-title .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3vw;
  color: #11ffd4;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.2vw;
  text-transform: uppercase;
}
.case-block .content-inside .header-title .price img {
  width: 1.9vw;
}
.case-block .content-inside .open-case {
  position: relative;
  cursor: pointer;
  outline: none;
  width: 9vw;
  height: 2.5vw;
  border-radius: 0.3vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.9vw;
  text-transform: uppercase;
  z-index: 2;
}

#standart {
  background: rgba(10, 148, 249, 0.2);
  border: 1px solid rgba(10, 148, 249, 0.65);
}
#standart:hover .case-img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
#standart .header-title {
  color: #53b0ff;
}
#standart .open-case {
  color: #8dcaff;
  background: rgba(10, 148, 249, 0.2);
  border: 1px solid rgba(10, 148, 249, 0.65);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#standart .open-case:hover {
  color: #ffffff;
  background: rgb(10, 149, 249);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#cars {
  background: rgba(255, 177, 120, 0.2);
  border: 1px solid rgba(255, 177, 120, 0.65);
}
#cars:hover .case-img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
#cars .header-title {
  color: #ffb178;
}
#cars .open-case {
  color: #ffb178;
  background: rgba(255, 177, 120, 0.2);
  border: 1px solid rgba(255, 177, 120, 0.65);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#cars .open-case:hover {
  color: #132030;
  background: rgb(255, 176, 120);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#skins {
  background: rgba(107, 255, 211, 0.2);
  border: 1px solid rgba(107, 255, 211, 0.65);
}
#skins:hover .case-img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
#skins .header-title {
  color: #6bffd3;
}
#skins .open-case {
  color: #6bffd3;
  background: rgba(107, 255, 211, 0.2);
  border: 1px solid rgba(107, 255, 211, 0.65);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#skins .open-case:hover {
  color: #132030;
  background: rgb(107, 255, 211);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#clothes {
  background: rgba(151, 249, 54, 0.2);
  border: 1px solid rgba(151, 249, 54, 0.65);
}
#clothes:hover .case-img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
#clothes .header-title {
  color: #97f936;
}
#clothes .open-case {
  color: #97f936;
  background: rgba(151, 249, 54, 0.2);
  border: 1px solid rgba(151, 249, 54, 0.65);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#clothes .open-case:hover {
  color: #132030;
  background: rgb(151, 249, 54);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}