@charset "UTF-8";
.window-modal {
  position: absolute;
  -webkit-box-shadow: inset 0 0 250px 213px rgba(19, 28, 51, 0.95);
          box-shadow: inset 0 0 250px 213px rgba(19, 28, 51, 0.95);
  background: rgba(19, 28, 51, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.window-modal .modal-overley {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #213361;
  border-radius: 0.6vw;
  width: 37vw;
  height: 45vw;
}
.window-modal .modal-overley .content-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2vw 2vw;
}
.window-modal .modal-overley .content-inside .title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5vw;
}
.window-modal .modal-overley .content-inside .title-block .title .shadow {
  position: absolute;
  background: #3278ff;
  border-radius: 0.4vw;
  top: 1.4vw;
  left: 1.2vw;
  width: 5vw;
  height: 1.5vw;
  z-index: 1;
}
.window-modal .modal-overley .content-inside .title-block .title .text {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.3vw;
  text-transform: uppercase;
  color: #fff;
  z-index: 2;
}
.window-modal .modal-overley .content-inside .title-block .description {
  width: 18vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1vw;
  line-height: 137%;
  color: rgba(255, 255, 255, 0.8);
}
.window-modal .modal-overley .content-inside .prize-block .title-prize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5vw;
  margin-bottom: 23vw;
}
.window-modal .modal-overley .content-inside .prize-block .title-prize .name-prize {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.7vw;
  text-transform: uppercase;
  color: #fff;
}
.window-modal .modal-overley .content-inside .prize-block .title-prize .type-prize {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1vw;
}
.window-modal .modal-overley .content-inside .prize-block .title-prize #Обычный {
  color: #BFBFBF;
}
.window-modal .modal-overley .content-inside .prize-block .title-prize #Редкий {
  color: #FF4D00;
}
.window-modal .modal-overley .content-inside .prize-block .title-prize #Легендарный {
  color: #BB29FF;
}
.window-modal .modal-overley .content-inside .prize-block .image-block .bg-effect {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 31vw;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 2vw;
}
.window-modal .modal-overley .content-inside .prize-block .image-block .img-prize {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25vw;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 2vw;
}
.window-modal .modal-overley .content-inside .btns-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.window-modal .modal-overley .content-inside .btns-block button {
  cursor: pointer;
  outline: none;
  border: none;
  height: 3.5vw;
  border-radius: 0.4vw;
}
.window-modal .modal-overley .content-inside .btns-block .take-prize {
  width: 35%;
  background: #3970ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.9vw;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.window-modal .modal-overley .content-inside .btns-block .take-prize:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 0 1.771vw 0.425vw rgba(57, 112, 255, 0.25);
          box-shadow: 0 0 1.771vw 0.425vw rgba(57, 112, 255, 0.25);
}
.window-modal .modal-overley .content-inside .btns-block .sell-prize {
  width: 60%;
  background: #0cffb6;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.95vw;
  text-transform: uppercase;
  color: #131c33;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.window-modal .modal-overley .content-inside .btns-block .sell-prize:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 0 25px 6px rgba(12, 255, 182, 0.25);
          box-shadow: 0 0 25px 6px rgba(12, 255, 182, 0.25);
}