$Bebas: "Bebas Neue", sans-serif

.admin-menu
  display: flex
  flex-direction: row
  gap: 1rem
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 100%
  height: 100%
  box-sizing: border-box
  padding: 1.2rem

  .content
    width: 100%
    height: 100%

    .header
      display: flex
      align-items: center
      box-sizing: border-box
      gap: 1rem
      padding: 0 1.5rem
      width: 100%
      min-height: 3.8rem
      border-radius: 0.625rem
      background: rgb(19, 19, 19)
      user-select: none

      .name
        font-family: $Bebas
        font-weight: 500
        text-transform: uppercase
        font-size: 28px