.LTD {
  position: relative;
  overflow: hidden;
  background: #141614;
  border-radius: 0.65vw;
  width: 45vw;
  height: 45vw;
  -webkit-animation: fadeInLTD 1s ease;
          animation: fadeInLTD 1s ease;
}
.LTD .blobs {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(12vw);
          filter: blur(12vw);
}
.LTD .blobs #one {
  position: absolute;
  top: -9vw;
  left: -9vw;
  width: 27vw;
  height: 26vw;
}
.LTD .blobs #two {
  position: absolute;
  top: 30vw;
  left: 26vw;
  width: 27vw;
  height: 26vw;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.LTD .content-inside {
  z-index: 1;
  position: relative;
  padding: 2vw 2.65vw;
}
.LTD .content-inside .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.LTD .content-inside .header .logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2vw;
}
.LTD .content-inside .header .logotype .logo {
  width: 7vw;
}
.LTD .content-inside .header .logotype .description {
  width: 9vw;
  font-weight: 500;
  font-size: 0.8vw;
  color: rgba(255, 255, 255, 0.75);
}
.LTD .content-inside .header .car-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 0.354vw;
  width: 17vw;
  padding: 1vw 1vw;
}
.LTD .content-inside .header .car-info .car-img {
  position: absolute;
  right: 3vw;
  width: 9.5vw;
}
.LTD .content-inside .header .car-info .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.2vw;
}
.LTD .content-inside .header .car-info .text .car-name {
  font-weight: 600;
  font-size: 0.992vw;
  text-transform: uppercase;
  color: #fff;
}
.LTD .content-inside .header .car-info .text .type-petrol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3vw;
}
.LTD .content-inside .header .car-info .text .type-petrol .info {
  width: 7vw;
  font-weight: 500;
  font-size: 0.7vw;
  color: rgba(255, 255, 255, 0.75);
}
.LTD .content-inside .header .car-info .text .type-petrol .type {
  font-weight: 600;
  font-size: 0.85vw;
  text-transform: uppercase;
}
.LTD .content-inside .header .car-info .text .type-petrol #gas {
  color: #1dff77;
}
.LTD .content-inside .header .car-info .text .type-petrol #diesel {
  color: #ff611d;
}
.LTD .content-inside .header .car-info .text .type-petrol #electro {
  color: #49b3ff;
}
.LTD .content-inside .select-petrol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.2vw;
}
.LTD .content-inside .select-petrol #gas .bg-filter .blur-elipse {
  background: rgba(87, 245, 112, 0.3);
}
.LTD .content-inside .select-petrol #gas .bg-filter .elipse-bg svg {
  fill: rgba(87, 245, 112, 0.47);
  stroke: rgba(107, 255, 132, 0.9);
  -webkit-box-shadow: 0 0 13px 3px rgba(75, 255, 104, 0.3);
          box-shadow: 0 0 13px 3px rgba(75, 255, 104, 0.3);
  border-radius: 100%;
}
.LTD .content-inside .select-petrol #gas .title {
  color: rgba(87, 245, 111, 0.959);
  -webkit-text-stroke: 0.5px #6BFF83;
}
.LTD .content-inside .select-petrol #diesel .bg-filter .blur-elipse {
  background: rgba(151, 73, 16, 0.57);
}
.LTD .content-inside .select-petrol #diesel .bg-filter .elipse-bg svg {
  fill: rgba(183, 101, 25, 0.5);
  stroke: rgba(183, 101, 25, 0.9);
  -webkit-box-shadow: 0 0 13px 3px rgba(255, 109, 2, 0.3);
          box-shadow: 0 0 13px 3px rgba(255, 109, 2, 0.3);
  border-radius: 100%;
}
.LTD .content-inside .select-petrol #diesel .title {
  color: rgba(255, 97, 29, 0.955);
  -webkit-text-stroke: 0.5px #FF611D;
}
.LTD .content-inside .select-petrol #electro .bg-filter .blur-elipse {
  background: rgba(8, 75, 123, 0.57);
}
.LTD .content-inside .select-petrol #electro .bg-filter .flash-bg svg {
  fill: rgba(0, 149, 255, 0.7);
}
.LTD .content-inside .select-petrol #electro .title {
  color: rgb(0, 149, 255);
  -webkit-text-stroke: 0.5px #4FB6FF;
}
.LTD .content-inside .select-petrol .type {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.09);
  border: 0.6px solid rgba(255, 255, 255, 0.16);
  border-radius: 0.354vw;
  width: 12.4vw;
  height: 12.8vw;
}
.LTD .content-inside .select-petrol .type .bg-filter {
  position: absolute;
  bottom: 0;
}
.LTD .content-inside .select-petrol .type .bg-filter .blur-elipse {
  width: 10vw;
  height: 10vw;
  margin-bottom: -5vw;
  background: red;
  -webkit-filter: blur(4.249vw);
          filter: blur(4.249vw);
  border-radius: 100%;
}
.LTD .content-inside .select-petrol .type .title {
  position: absolute;
  bottom: 0;
  padding-bottom: 3.3vw;
  font-weight: 700;
  font-size: 1.8vw;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  z-index: 1;
}
.LTD .content-inside .select-petrol .type .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  padding-top: 0.3vw;
  z-index: 1;
}
.LTD .content-inside .select-petrol .type .header .price {
  background: #1dff77;
  border-radius: 0.3vw;
  padding: 0.5vw 0.95vw;
  font-weight: 700;
  font-size: 0.9vw;
  text-transform: uppercase;
  color: #131c33;
}
.LTD .content-inside .select-petrol .type .header .select-svg {
  display: none;
}
.LTD .content-inside .select-petrol .type .select-hover {
  display: none;
}
.LTD .content-inside .select-petrol .type:hover .select-hover {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  width: 100%;
  height: 7vw;
  background: -webkit-gradient(linear, left bottom, left top, from(#141614), color-stop(45.99%, rgba(20, 22, 20, 0.74)), color-stop(68.49%, rgba(20, 22, 20, 0.46)), to(rgba(20, 22, 20, 0)));
  background: linear-gradient(360deg, #141614 0%, rgba(20, 22, 20, 0.74) 45.99%, rgba(20, 22, 20, 0.46) 68.49%, rgba(20, 22, 20, 0) 100%);
  -webkit-animation: fadeInSelectHover 0.22s ease-in-out;
          animation: fadeInSelectHover 0.22s ease-in-out;
  z-index: 2;
}
.LTD .content-inside .select-petrol .type:hover .select-hover .text {
  font-weight: 700;
  font-size: 0.992vw;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-bottom: 1.8vw;
}
.LTD .content-inside .select-petrol .type.selected .header .select-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #1dff77;
  border-radius: 0.3vw;
  padding: 0.5vw 0.5vw;
  -webkit-animation: fadeInSelectSVG 0.5s ease-in-out;
          animation: fadeInSelectSVG 0.5s ease-in-out;
}
.LTD .content-inside .select-petrol .type.selected:hover .select-hover {
  display: none;
}
.LTD .content-inside .amount-petrol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 1.5vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.LTD .content-inside .amount-petrol .title {
  font-weight: 600;
  font-size: 1vw;
  text-transform: uppercase;
  color: #fff;
}
.LTD .content-inside .amount-petrol .input-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.5vw;
}
.LTD .content-inside .amount-petrol .input-btn .select-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3vw;
}
.LTD .content-inside .amount-petrol .input-btn .select-amount .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20vw;
  padding: 1.25vw 1.3vw;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 0.354vw;
  font-weight: 600;
  font-size: 1.275vw;
  color: #fff;
}
.LTD .content-inside .amount-petrol .input-btn .select-amount .info .liters .measurement {
  color: rgba(255, 255, 255, 0.65);
  font-size: 1.1vw;
}
.LTD .content-inside .amount-petrol .input-btn .select-amount .range {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 0.2vw;
  background: rgba(255, 255, 255, 0.09);
}
.LTD .content-inside .amount-petrol .input-btn .select-amount .range::-webkit-slider-runnable-track {
  height: 0.7vw;
}
.LTD .content-inside .amount-petrol .input-btn .select-amount .range::-moz-range-track {
  height: 0.7vw;
}
.LTD .content-inside .amount-petrol .input-btn .select-amount .range::-webkit-slider-thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  -webkit-appearance: none;
  appearance: none;
  height: 0.7vw;
  width: 0.9vw;
  background-color: white;
  border-radius: 0.1vw;
  -webkit-box-shadow: -407px 0 0 400px rgba(33, 221, 108, 0.7764705882);
          box-shadow: -407px 0 0 400px rgba(33, 221, 108, 0.7764705882);
}
.LTD .content-inside .amount-petrol .input-btn .select-amount .range::-webkit-slider-thumb:active {
  -webkit-box-shadow: -407px 0 0 400px #21dd6c;
          box-shadow: -407px 0 0 400px #21dd6c;
}
.LTD .content-inside .amount-petrol .input-btn .select-amount .range::-moz-range-thumb {
  cursor: grabbing;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  height: 0.7vw;
  width: 0.9vw;
  background-color: white;
  border-radius: 0.1vw;
  box-shadow: -407px 0 0 400px rgba(33, 221, 108, 0.7764705882);
}
.LTD .content-inside .amount-petrol .input-btn .select-amount .range::-moz-range-thumb:active {
  box-shadow: -407px 0 0 400px #21dd6c;
}
.LTD .content-inside .amount-petrol .input-btn .full-fuel {
  cursor: pointer;
  outline: none;
  border: none;
  width: 15vw;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 0.354vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.1vw;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.85);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.LTD .content-inside .amount-petrol .input-btn .full-fuel:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: white;
  color: #131C33;
}
.LTD .content-inside .select-pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 1.5vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.LTD .content-inside .select-pay .title {
  font-weight: 600;
  font-size: 1vw;
  text-transform: uppercase;
  color: #fff;
}
.LTD .content-inside .select-pay .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.5vw;
}
.LTD .content-inside .select-pay .btns .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1vw;
  cursor: pointer;
  outline: none;
  border: none;
  width: 19vw;
  height: 3.3vw;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 0.354vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.93vw;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.85);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.LTD .content-inside .select-pay .btns .btn svg {
  fill: rgba(255, 255, 255, 0.85);
  width: 1.05vw;
}
.LTD .content-inside .select-pay .btns .btn:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: white;
  color: #131c33;
}
.LTD .content-inside .select-pay .btns .btn:hover svg {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  fill: #131c33;
}
.LTD .content-inside .select-pay .btns .btn.cash {
  background: #1DFF77;
  color: #131c33;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.LTD .content-inside .select-pay .btns .btn.cash svg {
  fill: #131c33;
}
.LTD .content-inside .select-pay .btns .btn.cash:hover {
  color: #131c33;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.LTD .content-inside .select-pay .btns .btn.cash:hover svg {
  fill: #131c33;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.LTD .content-inside .select-pay .btns .btn.card {
  background: #7DB1FF;
  color: #131c33;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.LTD .content-inside .select-pay .btns .btn.card svg {
  fill: #131c33;
}
.LTD .content-inside .select-pay .btns .btn.card:hover {
  color: #131c33;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.LTD .content-inside .select-pay .btns .btn.card:hover svg {
  fill: #131c33;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.LTD .content-inside .pay-petrol {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  width: 100%;
  height: 3.3vw;
  margin-top: 1.5vw;
  outline: none;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#2effff), to(#1dff77));
  background: linear-gradient(90deg, #2effff 0%, #1dff77 100%);
  border-radius: 0.354vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1vw;
  text-transform: uppercase;
  color: #000;
  z-index: 1000;
}
.LTD .content-inside .pay-petrol::before {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.3vw;
  z-index: -1000;
  border-radius: 0.354vw;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  background: -webkit-gradient(linear, left top, right top, from(#1dff77), to(#2effff));
  background: linear-gradient(90deg, #1dff77 0%, #2effff 100%);
}
.LTD .content-inside .pay-petrol:hover::before {
  opacity: 1;
}

@-webkit-keyframes fadeInLTD {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50vw);
            transform: translateY(-50vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInLTD {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50vw);
            transform: translateY(-50vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes fadeInSelectSVG {
  0% {
    opacity: 0;
    margin-right: -25%;
  }
  100% {
    opacity: 1;
    margin-right: 0%;
  }
}
@keyframes fadeInSelectSVG {
  0% {
    opacity: 0;
    margin-right: -25%;
  }
  100% {
    opacity: 1;
    margin-right: 0%;
  }
}
@-webkit-keyframes fadeInSelectHover {
  0% {
    opacity: 0;
    margin-bottom: -20%;
  }
  100% {
    opacity: 1;
    margin-bottom: 0%;
  }
}
@keyframes fadeInSelectHover {
  0% {
    opacity: 0;
    margin-bottom: -20%;
  }
  100% {
    opacity: 1;
    margin-bottom: 0%;
  }
}