.recovery
  display: flex
  flex-direction: column
  gap: 2vw
  width: 30vw
  animation: fadeInRecovery 1s ease


@keyframes fadeInRecovery
  from
    transform: translateY(-30%)
  to
    transform: translateY(0)