$Montserrat: "Montserrat", sans-serif

.face-create-char
  display: flex
  flex-direction: column
  gap: 1rem

  .section
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 0.5rem

    .name-section
      font-family: $Montserrat
      font-weight: 600
      font-size: 0.85rem
      color: #ffff
      background: #ffffff16
      text-transform: uppercase
      padding: 0.2rem 0.5rem
      border-radius: 0.3rem

    .list
      display: flex
      flex-direction: column
      width: 100%
      gap: 0.6rem