$Montserrat: "Montserrat", sans-serif

.notification-wrapper
  display: flex
  flex-direction: column
  gap: 0.7vw
  position: absolute
  top: 2%
  left: 50%
  transform: translate(-50%, 0)
  z-index: 100

  .notification-item
    cursor: pointer
    display: flex
    flex-direction: row
    align-items: center
    gap: 1.7vw
    width: 22vw
    padding: 1.2vw 1.7vw
    border-radius: 0.6vw
    animation: enterNotify 0.5s ease forwards

    .icon
      width: 1.5vw

    .message
      width: 18.5vw
      font-size: 0.95vw
      font-family: $Montserrat
      font-weight: 500

  .notification-item.exit
    animation: exitNotify 0.5s ease forwards

  #error
    background: #ff1842
  
  #success
    background: #0dcea0

  #warning
    background: #ff4e16

  #info
    background: #169dff


@keyframes enterNotify
  from
    transform: scale(0.5)
    margin-top: -40%
  to
    transform: scale(1, 1)
    margin-top: 0

@keyframes exitNotify
  from
    opacity: 1
    transform: rotate3d(0, 0, 0, 50deg)
  to
    opacity: 0
    transform: rotate3d(1, 0, 0, 160deg)