.minimap-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  gap: 1vw;
  left: 0;
  bottom: 0;
}
.minimap-section .minimap-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 19vw;
}
.minimap-section .minimap-block .minimap {
  -webkit-backdrop-filter: blur(4.249vw);
          backdrop-filter: blur(4.249vw);
  background: rgba(38, 46, 65, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.6vw;
  width: 100%;
  height: 13vw;
}
.minimap-section .minimap-block .needs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.6vw;
  width: 100%;
  height: 2.2vw;
  margin-bottom: 0.5vw;
}
.minimap-section .minimap-block .needs .block-need {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3vw;
}
.minimap-section .minimap-block .needs .block-need .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.4vw;
  width: 2.2vw;
  height: 100%;
}
.minimap-section .minimap-block .needs .block-need .icon img {
  width: 1vw;
}
.minimap-section .minimap-block .needs .block-need .progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 6.7vw;
  border-radius: 0.4vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0.7vw;
}
.minimap-section .minimap-block .needs .block-need .progress-bar svg {
  width: 6vw;
  height: 0.7vw;
  border-radius: 1vw;
}
.minimap-section .minimap-block .needs .block-need .progress-bar svg rect {
  height: 0.7vw;
}
.minimap-section .minimap-block .needs #water .icon {
  background: rgba(37, 164, 255, 0.25);
}
.minimap-section .minimap-block .needs #water .icon img {
  width: 0.8vw;
}
.minimap-section .minimap-block .needs #water .progress-bar {
  background: rgba(37, 164, 255, 0.25);
}
.minimap-section .minimap-block .needs #eat .icon {
  background: rgba(255, 142, 60, 0.25);
}
.minimap-section .minimap-block .needs #eat .progress-bar {
  background: rgba(255, 142, 60, 0.25);
}
.minimap-section .player-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1vw;
}
.minimap-section .player-info .zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  padding: 0 1.4vw;
  height: 3vw;
  background: rgba(20, 22, 20, 0.9);
  border: 0.5px solid rgba(255, 255, 255, 0.18);
  text-shadow: 0 0 1.2vw rgba(255, 9, 53, 0.8);
  border-radius: 0.5vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.9vw;
  text-transform: uppercase;
  color: #ff0935;
}
.minimap-section .player-info .cash-micro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1vw;
  height: 3vw;
}
.minimap-section .player-info .cash-micro .cash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5vw;
  height: 100%;
}
.minimap-section .player-info .cash-micro .cash .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(20, 22, 20, 0.9);
  border: 0.5px solid rgba(255, 255, 255, 0.18);
  border-radius: 0.5vw;
  width: 3vw;
  height: 100%;
}
.minimap-section .player-info .cash-micro .cash .icon img {
  width: 0.9vw;
}
.minimap-section .player-info .cash-micro .cash .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1.25vw;
  height: 100%;
  background: rgba(20, 22, 20, 0.9);
  border: 0.5px solid rgba(255, 255, 255, 0.18);
  border-radius: 0.5vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.1vw;
  text-transform: uppercase;
  color: #fff;
}
.minimap-section .player-info .cash-micro .microphone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3vw;
  height: 100%;
  overflow: hidden;
  background: rgba(20, 22, 20, 0.9);
  border: 0.5px solid rgba(255, 255, 255, 0.18);
  -webkit-animation: fadeInMicrophone 0.9s ease;
          animation: fadeInMicrophone 0.9s ease;
  border-radius: 0.5vw;
}
.minimap-section .player-info .cash-micro .microphone img {
  position: absolute;
  width: 1.05vw;
  z-index: 2;
}
.minimap-section .player-info .cash-micro .microphone .effect {
  position: absolute;
  width: 1.05vw;
  height: 1.05vw;
  -webkit-filter: blur(0.8vw);
          filter: blur(0.8vw);
  background: rgba(29, 255, 119, 0.7);
  -webkit-animation: activeMicrophone 2s infinite;
          animation: activeMicrophone 2s infinite;
  z-index: 1;
}
.minimap-section .player-info .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 3vw;
  gap: 0.5vw;
}
.minimap-section .player-info .location .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3vw;
  height: 100%;
  background: rgba(20, 22, 20, 0.9);
  border: 0.5px solid rgba(255, 255, 255, 0.18);
  border-radius: 0.5vw;
}
.minimap-section .player-info .location .icon img {
  width: 1.05vw;
}
.minimap-section .player-info .location .block-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(20, 22, 20, 0.9);
  border: 0.5px solid rgba(255, 255, 255, 0.18);
  border-radius: 0.5vw;
  height: 100%;
  padding: 0 1.25vw;
}
.minimap-section .player-info .location .block-text .district {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.9vw;
  text-transform: uppercase;
  color: #fff;
}
.minimap-section .player-info .location .block-text .street {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.8vw;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}

@-webkit-keyframes activeMicrophone {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@keyframes activeMicrophone {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}
@-webkit-keyframes fadeInMicrophone {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInMicrophone {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}